* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ctn-bomb{
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
  gap: 2vw;
}

#btn-bomb-on{
  width: 10vw;
  height: 4vh;
  color: white;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}

#btn-bomb-on:not([disabled]):hover{
  background-color: darkgray;
  color: black;
}

#img-bomb{
  width:150px;
  height:180px;
}